* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
  font-family: "myFirstFont";
  src: url(/media/digital.ttf);
}
.debug-mode {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100%;
}

.debug {
  display: flex;
}

.debug > p {
  color: greenyellow;
}

body {
  background-image: url(/media/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mask {
  position: relative;
  z-index: 6;
  min-width: 360px;
  min-height: 550px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  filter: drop-shadow(6px 6px 5px black);
}

.calc-case {
  z-index: 0;
  display: flex;
  position: absolute;
  min-width: 360px;
  min-height: 550px;
  clip-path: polygon(15px 0px, 345px 0px, 360px 15px, 360px 550px, 550px 360px, 550px 550px, 0px 550px, 0px 15px);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #4a4a4c;
  box-shadow: inset 4px 4px 4px rgba(137, 136, 136, 0.59), inset -4px -4px 4px rgba(155, 154, 154, 0.59);
}

.grooves {
  display: flex;
  position: absolute;
  justify-self: center;
  left: 15px;
  height: 530px;
  width: 330px;
  border-left: 2.5px inset black;
  border-right: 2.5px inset black;
  border-bottom: 2.5px inset black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 2px 2px black, -1px -1px 2px black;
}
.grooves--divider {
  position: absolute;
  left: 20px;
  height: 170px;
  width: 325px;
  border-bottom: 3px inset black;
  box-shadow: inset 1px -2px 1px rgba(0, 0, 0, 0.527);
}

.on-switch {
  display: flex;
  position: absolute;
  z-index: 7;
  border-radius: 10px;
  border: 3px inset rgba(46, 45, 39, 0.8156862745);
  box-shadow: inset 2px 2px 4px black;
  top: 15px;
  left: 40px;
  width: 75px;
  height: 40px;
  background-color: #3a3a39;
}

.on-off-label {
  display: flex;
  position: absolute;
  top: 2px;
  left: 4px;
  justify-content: space-around;
  align-items: center;
  width: 72px;
  height: 35px;
  font-size: 17px;
  font-weight: 10;
  color: white;
  font-family: "Staatliches";
}

.slider {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 9;
  border-radius: 10px;
  border: 3px outset rgba(46, 45, 39, 0.8156862745);
  top: 3px;
  left: 4px;
  width: 38px;
  height: 30px;
  background-color: #5f5f5d;
  transition: 300ms;
}
.slider--on {
  left: 30px;
  transition: 300ms;
}

.back-light {
  display: flex;
}

.solar {
  border: 3px inset black;
  position: absolute;
  z-index: 9;
  height: 50px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px black;
  right: 25px;
  top: 11px;
}

.display {
  font-family: "digital";
  background: #a4b1a6;
  position: absolute;
  top: 70px;
  left: 30px;
  height: 85px;
  width: 305px;
  border: 7px inset rgba(46, 45, 39, 0.8156862745);
  border-radius: 15px;
  box-shadow: inset 3px 3px 10px black;
}
.display--glow {
  background: #92e59f;
  box-shadow: 1px 1px 30px rgba(146, 229, 159, 0.462745098), -1px -1px 30px rgba(146, 229, 159, 0.462745098);
  color: rgba(0, 0, 0, 0.594);
  transition: 300ms;
}

.num-input {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: "myFirstFont";
  font-size: 58px;
  letter-spacing: 5px;
  text-align: right;
  border: 0px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 65px;
  margin: 0;
}
.num-input--commas {
  position: absolute;
  letter-spacing: 5px;
  right: -5.5px;
}
.num-input__indicators {
  position: absolute;
}
.num-input__indicators--smallR {
  right: -5px;
  font-size: 25px;
}
.num-input__indicators--smallL {
  display: none;
  text-align: left;
  left: -3.5px;
  font-size: 60px;
}

.buttons {
  display: flex;
  position: absolute;
  top: 164px;
  height: 355px;
  width: 100%;
  z-index: 6;
}

.buttons--grid {
  display: grid;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  row-gap: 3px;
  column-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35px repeat(5, 1fr);
  height: 96%;
  width: 100%;
}

.push-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Grape Nuts", cursive;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #2a2827;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px groove black;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.286), inset -2px -2px 2px black;
  cursor: pointer;
}
.push-button--small-font {
  font-size: 20px;
}
.push-button--medium-font {
  font-size: 34px;
}
.push-button--orange {
  background-color: #eaa22c;
  box-shadow: inset 2px 2px 2px rgba(155, 155, 155, 0.35), inset -2px -2px 2px rgba(155, 155, 155, 0.35);
}
.push-button--large {
  margin: 0px;
  background-color: #2a2827;
  grid-column: 4;
  grid-row: 5/span 2;
}
.push-button:active {
  color: rgb(215, 215, 215);
  border: 1px inset black;
  box-shadow: inset 2px 2px 4px rgb(0, 0, 0);
  transition: 0.25s;
}
